* {
    margin: 0;
    padding: 0;
}

body {
    background: #FA8B02;
    color: #fdcc63;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, ifr);
    grid-template-areas: " header header header header" "widget-1 contenido contenido widget-6" "widget-1 widget-2 widget-5 sidebar" "widget-1 widget-3 widget-4 sidebar" "footer footer footer footer";
    ;
}

.contenedor>div,
.contenedor .item1,
.contenedor .item2,
.contenedor .item3,
.contenedor .item4 {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .item1 {
    background: #530901;
    color: #fff;
    grid-area: header;
}

.contenedor .item2 {
    grid-area: contenido;
    background: #992802;
}

.contenedor .item3 {
    grid-column: 3 / 4;
    background: #C64902;
    text-align: center;
    display: end;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
}

.contenedor .widget-1 {
    background: #AD6C0B;
    color: #facb73;
    height: 490px;
    text-align: center;
    display: end;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-2 {
    background: #AD6C0B;
    color: #facb73;
    height: 100px;
    text-align: center;
    display: end;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-3 {
    background: #C64902;
    height: 110px;
    text-align: center;
    display: end;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-4 {
    background: #fdcc63;
    color: #FA8B02;
    text-align: center;
    display: end;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-5 {
    background: #92480b;
    height: 100px;
    text-align: center;
    display: end;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-6 {
    background: #b16b01;
    height: 160px;
    text-align: center;
    display: end;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1 {
    grid-area: widget-1;
}

.contenedor .widget-2 {
    grid-area: widget-2;
}

.contenedor .widget-3 {
    grid-area: widget-3;
}

.contenedor .widget-4 {
    grid-area: widget-4;
}

.contenedor .widget-5 {
    grid-area: widget-5;
}

.contenedor .widget-6 {
    grid-area: widget-6;
}

.contenedor .item4 {
    background: #530901;
    color: #fff;
    grid-area: footer;
}

@media screen and (max-width:768px) {
    .contenedor {
        grid-template-areas: "item1 item1 item1 item1" " item2 item2 item2 item2" "widget-1 widget-1 widget-1 widget-1"" widget-2 widge-2 widget-2 widge-2" " widget-3 widge-3 widget-3 widge-3" " widget-4 widge-4 widget-4 widge-4""item4 item4 item4 item4";
    }
}

grid-template-areas: "item1 item1 item1 item1" " item2 item2 item2 item2" "widget-1 widget-1 widget-1 widget-1"" widget-2 widge-2 widget-2 widge-2" " widget-3 widge-3 widget-3 widge-3" " widget-4 widge-4 widget-4 widge-4""item4 item4 item4 item4";